.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}


.bg-dark{
  background-color: rgba(37,91,145,0.5) !important;
  transition:0.75s ease;
}

.bg-dark.scrolled {
  background-color: rgba(37,91,145,1) !important;
}


#topnav {
  top: 0;
  position: fixed;
  height: 40px;
  width: 100%;
}